body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    display: inline-block;
    width: 700px;
    margin-top: 50px;
    margin-left: calc( (100% - 700px) / 2);
    height: 300px;
    background-color: red;
}
    h1 {
        font-size: 60px;
        text-align: center;
        margin: 80px 100px 10px;
        line-height: 40px;
        color: silver;
        padding: 20px 0;
        letter-spacing: 3px;
        text-shadow: 10px 10px rgb(83, 62, 62);
    }
    p {
        font-size: 30px;
        text-decoration: underline;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        line-height: 40px;
        color: black);  
    }